@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
}

body {

    background: hsl(212, 45%, 89%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(470, auto);

}

.card {

    grid-column: 2/5;
    border-radius: 15px;
    width: 300px;
    height: 470px;
    margin: 200px auto;
    background-color: #fff;

}

.container-img {
    
    height: 18rem;
    width: 18rem;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img {

    border-radius: 15px;
    width: 270px;
    height: 270px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

h2 {

    text-align: center;
    padding: 10px 20px 10px 20px;
    color: hsl(218, 44%, 22%);

}

p {

    text-align: center;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 0 10px 0 10px;
    
}

.attribution {

    grid-column: 2/5;
    text-align: center;
    line-height: 24px;
}

@media ( max-width: 500px) {
    body {

        background: hsl(212, 45%, 89%);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: minmax(470, auto);
    
    }

    .card {

        grid-column: 1;

    }

    .attribution {

        grid-column: 1;

    }

    .attribution{
        margin-bottom: 15px;
    }
   
}